 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        Personable and down to earth, I thrive in a collaborative 
                        environment. I am a strong team-player who loves to share 
                        ideas and assist my peers. I am always looking for the next 
                        challenge, and love learning new things.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        I live and breathe code. It isn't unusual to find me 
                        "hacking away" on a side-project on nights or weekends. 
                        I also like to get out of the house, travel, go for 
                        walks, and volunteer to help people less fortunate than 
                        myself.
                    </p>
                </div>
            </div>
        </div>
    </section>
