<nav>
    <ul>
        <li>
            <a href="/portfolio" {% if page.url == "/portfolio/" %}class="active"{% endif %}>
                Projects
            </a>
        </li>
        <li>
            <a href="/contact" {% if page.url == "/contact/" %}class="active"{% endif %}>
                Contact
            </a>
        </li>
        <li>
            <a href="https://res.cloudinary.com/hireclub/image/upload/ub4lnaxfkzhg9atv27ar" target="_blank">
                <i class="fa fa-download" aria-hidden="true"></i> Resume
            </a>
        </li>
    </ul>
</nav>
