<nav>
    <ul>
        <li>
            <a href="/portfolio" {% if page.url == "/portfolio/" %}class="active"{% endif %}>
                Projects
            </a>
        </li>
        <li>
            <a href="/contact" {% if page.url == "/contact/" %}class="active"{% endif %}>
                Contact
            </a>
        </li>
        <li>
            <a href="https://new.hireclub.com/resumes/0c45e6" target="_blank">
                <i class="fa fa-download" aria-hidden="true"></i> Resume
            </a>
        </li>
    </ul>
</nav>
