<nav>
    <ul>
        <li>
            <a href="/portfolio" {% if page.url == "/portfolio/" %}class="active"{% endif %}>
                Projects
            </a>
        </li>
        <li>
            <a href="/contact" {% if page.url == "/contact/" %}class="active"{% endif %}>
                Contact
            </a>
        </li>
        <li>
            <a href="https://docs.google.com/document/d/19nkYd8pPs7NyUVY3u2nL9SeM9PIx205Gts2062LRjZM/export?format=pdf">
                <i class="fa fa-download" aria-hidden="true"></i> Resume
            </a>
        </li>
    </ul>
</nav>
