body {
    background-color: $bg-color-primary;
    color: $color-body;
    font-family: $font-stack-body;
}

a {
    color: $color-link;
    text-decoration: none;
    border-bottom: 2px dashed $color-link;
}
