#github_list {
    span {
        display: block;
        padding: 5px;
    }

    .url_icon, .name {
        display: inline-block;
    }

    .name {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }

    .repo_item {
        padding-bottom: 2rem;
    }

    .repo_link {
        border-bottom: none;
    }
}

#loading {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    #message {
        text-align: center;
        margin-top: 15%;
        background-color: #000;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 700;
        text-transform: uppercase;
    }
}
