#github_list {
    span {
        display: block;
        padding: 5px;
    }

    .url_icon, .name {
        display: inline-block;
    }
    
    .name {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }
    
    .repo_item {
        padding-bottom: 2rem;
    }

    .repo_link {
        border-bottom: none;
    }
}
